<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>تعویض رمز عبور</title>
    <link rel="stylesheet" href="../css/changePass.css">
    <script src="../js/changePass.js"></script>
    <script src="../js/axios.js"></script>
</head>

<body>
    <div id="cont">
        <h2>تعویض رمز عبور</h2>
        <br><br>
        <input type="text" id="userNameInp" placeholder="نام کاربری">
        <br><br>
        <input type="text" id="passInp" placeholder="رمز عبور جدید">
        <br><br>
        <input type="text" id="secPassInp" placeholder="تکرار رمز عبور جدید">
        <br><br>
        <button onclick="newPass()" id="sabtBtn">ثبت</button>
    </div>
    <div id="messageBox" style="display: none;"></div>
    <div id="overlay">
        <div id="loader"></div>
    </div>
</body>

</html>