<head>
    <link rel="stylesheet" href="../css/users.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="../js/users.js"></script>
    <script src="../js/attendance-checker.js"></script>
    <script src="../js/axios.js"></script>
</head>
<div id="cont">
    <div id="overlay">
        <div id="loader"></div>
    </div>
    <div id="main-div">
        <div id="d-filter">
            <select id="genderFilter" onchange="filterGender()">
                <option value="all">همه</option>
                <option value="مرد">آقایان</option>
                <option value="زن">خانوم ها</option>
                <option value="جلسات">نیاز به تمدید</option>
            </select>
        </div>
        <div class="search-container">
            <input type="text" id="searchInp" class="search-input" placeholder="جستجو کاربران">
            <button class="search-button" onclick="find()">
                <svg width="16" height="16" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M10 18a8 8 0 1 0 0-16 8 8 0 0 0 0 16z" stroke="#555" stroke-width="2" />
                    <path d="M21 21l-4.35-4.35" stroke="#555" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                </svg>
            </button>
        </div>
        <div>
            <table id="data-table">
                <thead>
                    <tr>
                        <th>شناسه کاربری</th>
                        <th>نام</th>
                        <th>نام خانوادگی</th>
                        <th>شماره تماس</th>
                        <th>ساعات کاری باقی مانده</th>
                        <th>وضعیت</th>
                    </tr>
                <tbody>
                </tbody>
            </table>
        </div>
        <button id="load-more" onclick="load()">▼</button>
    </div>
    <div id="messageBox" style="display: none;"></div>
</div>